*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header_anthonys-logo {
    width: 150px; 
    height: 150px;
}

li{
    list-style-type: none;
}

.menuHeader {
    background-color: white;
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.logo {
    float: left;
    display: flex;
    align-items: center;
    width: auto;
}

.nav {
    display: flex;
    background-color:white;
    text-align: center;
    overflow: hidden;
    margin: 0px auto;
    float: right;
    justify-content: space-around;
}

.nav ul {
    list-style: none;
    display: inline-block;
}

.nav ul li {
    float: left;
    margin-top: 20px;
}

.nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 20px; 
}

hr {
    margin: auto;
}

.busqueda {
   margin: auto;
   padding: 10px;
   width: auto;
}
    
.finder {
    margin: auto;
    width: auto;
}

.search {
    margin: auto;
    width: 100%;
}

.fa.fa-angle-down {
    color: black;
    font-size: 24px;

}